@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');

html{
    font-size: 7px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.33;
    color: #222;
}

/*
.container {
    margin-bottom: 8rem;
}
*/
.row {
    margin-right: 2rem;
    margin-left: 2rem;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

/*    Banner    */

.banner {
    width: 100%;
    background: linear-gradient(to right,rgba(227, 123, 0, .9),rgba(247, 147, 29, .9)), url("../img/hill.jpg");
    background-size: cover;
}

.banner-content {
    margin: 5rem 0;
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size: 4.8rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
}

.banner p {
    color: #fff;
    font-weight: 300;
    font-size: 2.4rem;
}

/*    /Banner    */

/*    Content-Header    */

.content-header {
    margin: 6rem auto;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 8rem;
}

h3::after {
    position: absolute;
    content: '';
    margin: 8rem 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #f7931d;
}

/*    /Content-Header    */

/*    Advantages    */

.advantages .row {
    margin-bottom: 5rem;
}

.svg-image {
    margin: 3rem auto;
}

.advantages-texts h4 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.advantages-texts p {
    font-size: 1.8rem;
}

.btn-default, 
.btn-default:visited {
    text-align: center;
    padding: 2.2rem 4.3rem;
    background-color: #f7931d;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 0;
    border: 1px solid #f7931d;
    transition: all ease-in-out 300ms;
    box-sizing: border-box;
    white-space: normal;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
    background-color: #fff;
    color: #f7931d;
    border: 1px solid #f7931d;
    box-shadow: 0px 15px 30px -12px rgba(91, 27, 15, .3);
}

/*    /Advantages    */

/*    Product-rec-works    */

.section-colored {
    margin: 8rem auto;
}

.product-rec-works {
    width: 100%;
    background-color: #f5f5f5;
}

.anim-gif {
    margin-top: 4rem;
}

.list-group-item {
    display: list-item;
}

.product-rec-works-text li{


}

.list-group-item:before {
    background: #f7931d;
    color: #fff;
    width: 5rem;
    height: 5rem;
    padding: 1.8rem;
}

/*    /Product-rec-works    */


/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }
}

@media screen and ( min-width: 992px ){
    html {
        font-size: 9px;
    }

    /*    Banner    */

    .banner-content {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    /*    /Banner    */

}

@media screen and ( min-width: 1200px ){
    html {
        font-size: 10px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    /*    Banner    */

    .banner {
        height: 69.8rem;
    }

    .banner-content {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    /*    /Banner    */

    
    /*    Advantages    */

    .svg-image {
        width: 85%;
        height: 85%;
    }
    .advantages-texts {
        vertical-align: middle;
    }

    /*    /Advantages    */
}