@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');

html{
    font-size: 6px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.33;
    color: #222;
    text-align: center;
}

.text-sm-center,
.text-xs-center {
    text-align: center;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.container {
    margin-bottom: 4rem;
}

/*    Banner    */

.banner {
    width: 100%;
    background: linear-gradient(to right,rgba(227, 123, 0, .9),rgba(247, 147, 29, .9)), url("../img/hill.jpg");
    background-size: cover;
}

.banner-content {
    margin: 5rem auto;
}

.banner-title {
    color: #fff;
    font-weight: 700;
    font-size: 4.6rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
}

.banner-subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 2.3rem;
}

.hero-imac {
    margin: 3rem auto 0;
}
/*    /Banner    */

/*    Content-Header    */

.hero-text {
    margin-bottom: 5rem;
}

.content-header {
    text-align: center;
    margin: 6rem auto;
}

.header-title {
    font-size: 3.5rem;
    font-weight: 600;
}

.header-subtitle {
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 8rem;
}

h3:after {
    position: absolute;
    content: '';
    margin: 8rem 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #f7931d;
}

/*    /Content-Header    */

/*    Advantages    */

.first-adv,
.second-adv,
.third-adv {
    margin-bottom: 5rem;
}

.btn-wrapper {
    text-align: center;
    margin: 4rem auto;
}

.svg-image {
    margin: 3rem auto;
}

.advantages-title, .popup-title {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.advantages-p {
    font-size: 1.8rem;
}

.advantages .btn-wrapper {
    margin: 5rem auto;
}

.btn-primary, 
.btn-primary:visited {
    text-align: center;
    padding: 2.2rem 4.3rem;
    background-color: #f7931d;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 0;
    border: 1px solid #f7931d;
    transition: all ease-in-out 300ms;
    white-space: normal;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #fff;
    color: #f7931d;
    border: 1px solid #f7931d;
    box-shadow: 0px 15px 30px -12px rgba(91, 27, 15, .3);
}

/*    /Advantages    */

/*    Product-rec-works    */

.anim-gif {
    margin: auto;
}

.product-rec-works .container {
    margin: 0 auto;
}

.product-rec-works {
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: -2rem;
}

.section-colored {
    margin: 8rem auto;
}

.anim-gif {
    margin-top: 4rem;
}

.ordered-process {
    margin: 4rem;
    list-style-type: none;
    justify-content: center;
    text-align: left;
}

.product-rec-works-text li{
	position: relative;
	padding: 2rem;
    font-size: 2.2rem;
    counter-increment: list +1;
}

.product-rec-works-text li:before {
    box-sizing: border-box;
	content: counter(list);
    position: absolute;
    font-weight: 700;
    bottom: 30%;
    top: 30%;
	left: -6rem;
    background: #f7931d;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 3px #f7931d;
	color: #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
	text-align: center;
	padding: 1.5rem;
}

/*    /Product-rec-works    */

/*    Maximize-your-sales    */

.maximize-your-sales {
    background: #e8eef0;
}

.maximize-your-sales .content-header {
    margin-top: 0;
}

.popup-subtitle {
    font-size: 1.7rem;
    line-height: 1.5;
}

.product-rec-offers ul {
    list-style: none;
    padding: 3rem;;
}

.product-rec-offers li {
    margin: 2rem;
}

.product-rec-offers li:before {
    content: url('../img/checked.svg');
    position: absolute;
    display: inline-block;
    width: 5rem;
    padding: 1.5rem;
    left: 1rem;
    margin-top: -1.5rem;
}

.popup-img-left,
.popup-img-right {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
}

.opinion {
    padding: 2rem;
    background-color: #363636;
    margin: 3rem;
    color: #f7931d;
}

.opinion-text {
    padding: 4rem;
    color: #fff;
    font-size: 1.8rem;
    padding: 2rem;
}

.list-right,
.list-left {
    text-align: left;
    margin: 2rem auto;
}

.btn-secondary, 
.btn-secondary:visited {
    text-align: center;
    padding: 2.2rem 4.3rem;
    background-color: #f7931d;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 0;
    border: 1px solid #f7931d;
    transition: all ease-in-out 300ms;
    box-sizing: border-box;
    white-space: normal;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active:focus {
    box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

/*    /Maximize-your-sales    */

/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }

}

@media screen and ( min-width: 992px ){
    html {
        font-size: 8px;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-md-left {
        text-align: left;
    }
    
    /*    Banner    */

    .banner {
        height: 69.8rem;
    }

    .banner-content {
        padding-top: 8rem;
        padding-bottom: 8rem;
        text-align: left;
    }

    .hero-imac {
        padding: 0 4rem;
    }

    /*    /Banner    */
    
    /*    Advantages    */

    .advantages {
        text-align: left;
    }

    .second-adv {
        display: flex;
    }

    .second-texts {
        order: 1;
    }
    
    .second-image {
        order: 2;
    }

    .svg-image {
        width: 85%;
        height: 85%;
    }

    /*    /Advantages    */

    /*    Maximize-your-sales    */

    .single-right {
        padding-left: 5rem;
    }

    .multiple-left {
        padding-right: 5rem;
    }

    .product-rec-offers li:before {
        left: 4rem;
        margin-right: 2.6rem;
    }

    .bg-wrapper {
        width: 100%;
        height: 60rem;
        background: url('../img/china.jpg') no-repeat;
        background-position: bottom;
        margin-top: -58rem;
    }

    .multiple-left:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 700px;
        background-color: #fafafa;
        top: 1rem;
        margin-left: 5rem; 
    }

    .list-right {
        text-align: right;
    }

    .list-right li:before {
        right: 1rem;
        left: auto;
    } 

    .opinion {
        background: none;
        padding: 0;
    }

    .opinion-text {
        padding: 0;
    }

    .btn-secondary, 
    .btn-secondary:visited {
        background-color: #fff;
        color: #f7931d;
        border: 1px solid #fff;
        box-shadow: 0px 8px 20px 0 rgba(247, 147, 29, 0.2);
    }

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active:focus {
        background-color: #f7931d;
        color: #fff;
        border: 1px solid #f7931d;
        box-shadow: 0px 8px 20px 0 rgba(247, 147, 29, 0.2);
    }

    /*    /Maximize-your-sales    */

}

@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-md-left {
        text-align: left;
    }
    
    /*    Banner    */

    .banner {
        height: 69.8rem;
    }

    .banner-content {
        padding-top: 8rem;
        padding-bottom: 8rem;
        text-align: left;
    }

    .hero-imac {
        padding: 0 4rem;
    }

    /*    /Banner    */
    
    /*    Advantages    */

    .advantages {
        text-align: left;
    }

    .second-adv {
        display: flex;
    }

    .second-texts {
        order: 1;
    }
    
    .second-image {
        order: 2;
    }

    .svg-image {
        width: 85%;
        height: 85%;
    }

    /*    /Advantages    */

    /*    Maximize-your-sales    */

    .single-right {
        padding-left: 5rem;
    }

    .multiple-left {
        padding-right: 5rem;
    }

    .product-rec-offers li:before {
        left: 4rem;
        margin-right: 2.6rem;
    }

    .bg-wrapper {
        width: 100%;
        height: 60rem;
        background: url('../img/china.jpg') no-repeat;
        background-position: bottom;
        margin-top: -58rem;
    }

    .multiple-left:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 744px;
        background-color: #fafafa;
        top: 1rem;
        margin-left: 5rem; 
    }

    .list-right {
        text-align: right;
    }

    .list-right li:before {
        right: 1rem;
        left: auto;
    } 

    .opinion {
        background: none;
        padding: 0;
    }

    .opinion-text {
        padding: 0;
    }

    .btn-secondary, 
    .btn-secondary:visited {
        background-color: #fff;
        color: #f7931d;
        border: 1px solid #fff;
        box-shadow: 0px 8px 20px 0 rgba(247, 147, 29, 0.2);
    }

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active:focus {
        background-color: #f7931d;
        color: #fff;
        border: 1px solid #f7931d;
        box-shadow: 0px 8px 20px 0 rgba(247, 147, 29, 0.2);
    }

    /*    /Maximize-your-sales    */

}